body{
  font-family: Arial,Helvetica,sans-serif;
font-size: 15px;
line-height: 1.5;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}
ul{
  text-decoration: none;
  margin: 0;
  padding: 0
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header ul{
  margin: 0;
  padding: 0
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
header .highlate, header .current a{
  color: #3B82F6;
  font-weight: bold;
}
header a:hover{
  font-weight: bold;
}
/*showcase*/
#showcase{
  min-height: 400px;
  background:url("showcase.png");
  text-align: center;
  color: white;
}
#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}
/*News Letter*/
#newsletter{
  padding: 15px;
  color: white;
  background: #35424a;
}
#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
button{
height: 38px;
background: #3B82F6;
border: 0;
padding-left: 20px;
padding-right: 20px;
color: white;
}
/*boxes*/
#boxes{
  margin-top: 20px;
}
#boxes .box{
float: left;
width: 30%;
padding: 10px;
text-align: center;
}
#boxes .box img{
  width: 90px;
}
/*footer*/
footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background: #3B82F6;
  text-align: center;
}
/*sidebar*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top:10px;
}
article#main-col{
  float: left;
  width: 65%;
}
.dark{
  background: #35424a;
  padding: 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 780px) {
header #branding,header nav,header li, #boxes .box,article#main-col,aside#sidebar{
  float: none;
  text-align: center;
  width: 100%;
}
header{
  padding-bottom: 20px;
}
#showcase h1{
  margin-top: 40px;
}
#newsletter button, .quote button,.quote input{
width: 100%;
margin-top: 5px;
}
#newsletter form input[type="email"]{
width: 100%;
text-align: center;
}
}
